<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScmsModel.Properties.Settings.SCMSConnectionString"
            connectionString="Data Source=10.100.10.21\SCMSSRVC;Initial Catalog=SCMS;Persist Security Info=True;User ID=aig;Password=aigaig"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString"
            connectionString="Data Source=10.100.10.24;Initial Catalog=AMS;Persist Security Info=True;User ID=aig;Password=aigaig"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString1"
            connectionString="Data Source=10.100.10.21\scmssrvc;Initial Catalog=AMS;Persist Security Info=True;User ID=aig;Password=aigaig"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMS_BACKUPConnectionString"
            connectionString="Data Source=10.100.10.47;Initial Catalog=AMS_BACKUP;User ID=sa;Password=4M5M1S"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString2"
            connectionString="Data Source=10.100.10.47;Initial Catalog=AMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString3"
            connectionString="Data Source=10.100.10.21\SCMSSRVC;Initial Catalog=AMS;User ID=aig"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString4"
            connectionString="Data Source=10.100.10.21\SCMSSRVC;Initial Catalog=AMS;User ID=aig;Password=aigaig"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.SCMSConnectionString1"
            connectionString="Data Source=10.100.10.20;Initial Catalog=SCMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.SCMSConnectionString2"
            connectionString="Data Source=10.100.10.20;Initial Catalog=SCMS;User ID=sa;Password=4M5M1S"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString7"
            connectionString="Data Source=10.100.10.20;Initial Catalog=AMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString5"
            connectionString="Data Source=10.100.10.21\scmssrvc;Initial Catalog=AMS;User ID=aig"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString6"
            connectionString="Data Source=10.100.41.29;Initial Catalog=AMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.SCMSConnectionString3"
            connectionString="Data Source=10.100.41.107;Initial Catalog=SCMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.SCMSConnectionString4"
            connectionString="Data Source=10.100.41.107;Initial Catalog=SCMS;User ID=sa;Password=4M5M1S"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString9"
            connectionString="Data Source=10.100.41.107;Initial Catalog=AMS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString8"
            connectionString="Data Source=10.100.41.107;Initial Catalog=AMS;User ID=SA;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="ScmsModel.Properties.Settings.AMSConnectionString10"
            connectionString="Data Source=10.100.41.107;Initial Catalog=AMS;User ID=sa;Password=4M5M1s2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>