<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScmsSoaLibrary.Properties.Settings.ConnectionString"
            connectionString="Dsn=SCMS_DEV;uid=sa;pwd=4M5M1s2015" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>